---
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import { ImageProps } from "components/Image.astro";

const { page } = useSitecore();
const { fields, params } = Astro.props as ImageProps;
const { styles, RenderingIdentifier: id } = params;

const shouldWrapWithLink =
  !page.mode.isEditing && fields?.TargetUrl?.value?.href;
---

<>
  {
    fields && (
      <div class={`component image ${styles}`.trim()} id={id}>
        {shouldWrapWithLink ? (
          <Link field={fields.TargetUrl}>
            <AstroImage field={fields.Image} />
          </Link>
        ) : (
          <AstroImage field={fields.Image} />
        )}
        <Text
          tag="span"
          className="image-caption field-imagecaption"
          field={fields.ImageCaption}
        />
      </div>
    )
  }
  {
    !fields && (
      <div class={`component image ${styles}`.trim()} id={id}>
        <div class="component-content">
          <span class="is-empty-hint">Image</span>
        </div>
      </div>
    )
  }
</>
