---
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import { ImageProps } from "components/Image.astro";

const { fields, params } = Astro.props as ImageProps;

const { page } = useSitecore();
const { styles, RenderingIdentifier: id } = params;

const backgroundStyle = fields?.Image?.value?.src
  ? { backgroundImage: `url('${fields.Image.value.src}')` }
  : {};

const imageField = fields.Image && {
  ...fields.Image,
  value: {
    ...fields.Image.value,
    style: { width: "100%", height: "100%" },
  },
};
---

<div class={`component hero-banner ${styles}`.trim()} id={id}>
  <div
    class="component-content sc-sxa-image-hero-banner"
    style={backgroundStyle}
  >
    {page.mode.isEditing && <AstroImage field={imageField} />}
  </div>
</div>
