---
import { ThreeColumnCtaProps } from "components/PageContent/ThreeColumnCta.astro";
import ThreeColumnWithIconsCompact from "components/NestedComponents/ThreeColumnWithIconsCompact.astro";

const { fields, params } = Astro.props as ThreeColumnCtaProps;
const { styles, RenderingIdentifier: id } = params;
---

<div
  class={`component component-spaced three-column-cta with-icons with-icons-compact ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container">
    <div class="row gx-0">
      <ThreeColumnWithIconsCompact
        image={fields.Image1}
        text={fields.Text1}
        subText={fields.SubText1}
        link={fields.Link1}
        delay={0}
        params={params}
      />
      <ThreeColumnWithIconsCompact
        image={fields.Image2}
        text={fields.Text2}
        subText={fields.SubText2}
        link={fields.Link2}
        delay={500}
        params={params}
      />
      <ThreeColumnWithIconsCompact
        image={fields.Image3}
        text={fields.Text3}
        subText={fields.SubText3}
        link={fields.Link3}
        delay={1000}
        params={params}
      />
    </div>
  </div>
</div>
