---
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { PromoCtaProps } from "components/PageContent/PromoCta.astro";
import ParallaxBackgroundImage from "components/NonSitecore/ParallaxBackgroundImage.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";

const { fields, params } = Astro.props as PromoCtaProps;
const { RenderingIdentifier: id, styles } = params;

const { page } = useSitecore();
const isEditing = page.mode.isEditing;
---

<div
  class={`component promo-cta with-background-image ${styles?.trim()}`}
  id={id}
>
  <ParallaxBackgroundImage backgroundImage={fields.Image} />
  <div class="container">
    <div class="row justify-content-center main-content">
      <div class="col-12 mx-auto">
        <h1 class="display-3 fw-bold text-center mb-3">
          <Text field={fields.Title} />
        </h1>
        <div class="fs-3 text-center">
          <RichText field={fields.Text} />
          {
            (isEditing || fields?.Link?.value?.href) && (
              <Link field={fields.Link} class="button button-main mt-3" />
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>
