---
import Image from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import Placeholder from "@astro-sitecore-jss/astro-content-sdk/src/components/Placeholder.astro";
import DottedAccent from "components/NonSitecore/DottedAccent.astro";
import { PromoCtaProps } from "components/PageContent/PromoCta.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";

const { fields, params, rendering } = Astro.props as PromoCtaProps;
const { RenderingIdentifier: id, styles } = params;

const { page } = useSitecore();
const isEditing = page.mode.isEditing;
---

<div
  class={`component promo-cta with-placeholder-column ${styles?.trim()}`}
  id={id}
>
  <div class="container">
    <div class="row row-gap-4 main-content align-items-center">
      <div class="col-lg-5 text-center text-lg-start">
        <h6 class="eyebrow-accent">
          <Text field={fields.Eyebrow} />
        </h6>
        <h1 class="fs-1 fw-bold mb-3">
          <Text field={fields.Title} />
        </h1>
        <div class="promo-cta-text">
          <p class="fs-5">
            <Text field={fields.Subtitle} />
          </p>

          <RichText field={fields.Text} class="text-content" />
          {
            (isEditing || fields?.Link?.value?.href) && (
              <Link field={fields.Link} class="button button-main mt-3" />
            )
          }{
            (isEditing || fields?.Link2?.value?.href) && (
              <Link
                field={fields.Link2}
                class="button button-simple mt-3 mx-4"
              />
            )
          }
        </div>
      </div>

      <div class="col-md-12 mx-auto col-lg-7 mx-lg-0">
        <div class="row align-items-center">
          <div class="promo-cta-placeholder col-12 col-md-9">
            <div class="promo-cta-placeholder-inner">
              <div class="row">
                <Placeholder name="promo-cta" rendering={rendering} />
              </div>
            </div>
          </div>

          <div class="image-wrapper d-none d-md-block col-md-8">
            <DottedAccent class="dotted-accent-top" />
            <Image
              field={fields.Image}
              class={`d-block mx-lg-auto img-fluid ${
                !isEditing ? "fade-section" : ""
              }`}
            />
            <DottedAccent class="dotted-accent-bottom" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
