---
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import { FooterProps } from "components/Navigation/Footer.astro";

const { fields, params } = Astro.props as FooterProps;
const { styles, RenderingIdentifier: id } = params;
---

<div
  class={`component component-spaced footer with-socials ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container">
    <div class="content">
      <div class="logo">
        <AstroImage field={fields?.Image1} class="img-fluid" />
      </div>
      <div class="row row-cols-1 row-cols-md-3 row-gap-5 gx-5">
        <div class="col">
          <div class="title eyebrow-accent">
            <Text field={fields?.Title1} />
          </div>
          <div class="links">
            <RichText field={fields?.Text1} />
          </div>
        </div>
        <div class="col">
          <div class="title eyebrow-accent">
            <Text field={fields?.Title2} />
          </div>
          <div class="links">
            <RichText field={fields?.Text2} />
          </div>
        </div>
        <div class="col">
          <div class="title eyebrow-accent">
            <Text field={fields?.SocialsTitle} />
          </div>
          <div class="links links-socials">
            <Link field={fields?.SocialLink1}>
              <AstroImage field={fields?.SocialIcon1} />
            </Link>
            <Link field={fields?.SocialLink2}>
              <AstroImage field={fields?.SocialIcon2} />
            </Link>
            <Link field={fields?.SocialLink3}>
              <AstroImage field={fields?.SocialIcon3} />
            </Link>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="footnote">
      <Text field={fields?.Copyright} />
      <div class="privacy-links">
        <Link field={fields?.Link1} />
        <Link field={fields?.Link2} />
      </div>
    </div>
  </div>
</div>
