---
import Placeholder from "@astro-sitecore-jss/astro-content-sdk/src/components/Placeholder.astro";
import { ContainerProps } from "components/Container.astro";

const { params, rendering } = Astro.props as ContainerProps;
const {
  styles,
  RenderingIdentifier: id,
  BackgroundImage: backgroundImage,
  DynamicPlaceholderId,
} = params;
const phKey = `container-${DynamicPlaceholderId}`;

// Extract the mediaurl from rendering parameters
const mediaUrlPattern = new RegExp(/mediaurl=\"([^"]*)\"/, "i");

let backgroundStyle: { [key: string]: string } = {};

if (backgroundImage && backgroundImage.match(mediaUrlPattern)) {
  const mediaUrl = backgroundImage.match(mediaUrlPattern)?.[1] || "";

  backgroundStyle = {
    backgroundImage: `url('${mediaUrl}')`,
  };
}
---

<div class={`component container-default ${styles}`} id={id}>
  <div class="component-content" style={backgroundStyle}>
    <div class="row">
      <Placeholder name={phKey} rendering={rendering} />
    </div>
  </div>
</div>
