---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import Link, {
  LinkField,
} from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";

export interface ColumnProps {
  image: ImageField;
  title: Field<string>;
  text: Field<string>;
  link: LinkField;
  delay?: number;
}

const props = Astro.props as ColumnProps;

const { page } = useSitecore();
const isPageEditing = page.mode.isEditing;
---

<div
  class={`column col-sm-12 col-lg-3 ${!isPageEditing ? "fade-section" : ""}`}
  data-delay=`${props.delay}`
>
  <Link field={props.link}>
    <div class="content-wrapper">
      <AstroImage field={props.image} />
      <div class="text-wrapper">
        <h2>
          <Text field={props.title} />
        </h2>
        <p>
          <Text field={props.text} />
        </p>
      </div>
    </div>
  </Link>
</div>

<script>
  import setVisibility from "components/scripts/SetVisibility";

  const refs: NodeListOf<Element> = document.querySelectorAll(
    ".four-column-cta .column"
  );
  setVisibility(refs);
</script>
