---
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import Link, {
  LinkField,
} from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { Fields } from "../Navigation.astro";

interface NavigationListProps {
  fields: Fields;
  relativeLevel: number;
}

const getLinkField = (fields: Fields): LinkField => ({
  value: {
    href: fields.Href,
    title:
      fields.NavigationTitle?.value?.toString() ??
      fields.Title?.value?.toString() ??
      fields.DisplayName,
    querystring: fields.Querystring,
  },
});

const { fields, relativeLevel } = Astro.props as NavigationListProps;

const { page } = useSitecore();
const isPageEditing = page.mode.isEditing;
const classNames = [...fields.Styles, `rel-level${relativeLevel}`].join(" ");

const hasChildren = fields.Children?.length > 0;
---

<li class={`${classNames}`}>
  <div class={`navigation-title ${hasChildren ? "child" : ""}`}>
    <Link
      class="menu-link"
      field={getLinkField(fields)}
      editable={isPageEditing}
      data-isPageEditing={isPageEditing}
    >
      {
        (
          <>
            {(fields.NavigationTitle || fields.Title) && (
              <Text field={fields.NavigationTitle || fields.Title} />
            )}
            {!fields.NavigationTitle && !fields.Title && fields.DisplayName}
          </>
        )
      }
    </Link>
  </div>
  {
    hasChildren ? (
      <ul class="clearfix">
        {fields.Children.map((element: Fields) => (
          <Astro.self fields={element} relativeLevel={relativeLevel + 1} />
        ))}
      </ul>
    ) : null
  }
</li>

<script>
  import { handleToggleMenu } from "components/scripts/Menu";

  function setActive(event: any) {
    const currentTarget = event.currentTarget as Element;

    const link = currentTarget.closest("li") as Element;
    link.classList.toggle("active");
  }

  const navigationLinks = document.querySelectorAll(".navigation-title");
  navigationLinks.forEach((el) => {
    el.addEventListener("click", setActive);
  });

  const menuLinks = document.querySelectorAll("menu-link");
  menuLinks?.forEach((el) =>
    el.addEventListener("click", (event) => {
      handleToggleMenu(event, false);
    })
  );
</script>
