---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { LinkField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import { ComponentProps } from "@/lib/component-props";
import FiveColumn from "components/NestedComponents/FiveColumn.astro";

interface Fields {
  Text1: Field<string>;
  Image1: ImageField;
  Link1: LinkField;
  Text2: Field<string>;
  Image2: ImageField;
  Link2: LinkField;
  Text3: Field<string>;
  Image3: ImageField;
  Link3: LinkField;
  Text4: Field<string>;
  Image4: ImageField;
  Link4: LinkField;
  Text5: Field<string>;
  Image5: ImageField;
  Link5: LinkField;
}

export interface FiveColumnCtaProps extends ComponentProps {
  fields: Fields;
}

const { fields, params } = Astro.props as FiveColumnCtaProps;
const { styles, RenderingIdentifier: id } = params;
---

<div
  class={`component component-spaced five-column-cta ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container">
    <div
      class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 row-gap-3 gx-5 justify-content-center"
    >
      <FiveColumn
        image={fields.Image1}
        text={fields.Text1}
        link={fields.Link1}
        delay={0}
      />
      <FiveColumn
        image={fields.Image2}
        text={fields.Text2}
        link={fields.Link2}
        delay={500}
      />
      <FiveColumn
        image={fields.Image3}
        text={fields.Text3}
        link={fields.Link3}
        delay={1000}
      />
      <FiveColumn
        image={fields.Image4}
        text={fields.Text4}
        link={fields.Link4}
        delay={1500}
      />
      <FiveColumn
        image={fields.Image5}
        text={fields.Text5}
        link={fields.Link5}
        delay={2000}
      />
    </div>
  </div>
</div>
