---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { LinkField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import { ComponentProps } from "@/lib/component-props";
import FourColumn from "components/NestedComponents/FourColumn.astro";

interface Fields {
  Title1: Field<string>;
  Text1: Field<string>;
  Image1: ImageField;
  Link1: LinkField;
  Title2: Field<string>;
  Text2: Field<string>;
  Image2: ImageField;
  Link2: LinkField;
  Title3: Field<string>;
  Text3: Field<string>;
  Image3: ImageField;
  Link3: LinkField;
  Title4: Field<string>;
  Text4: Field<string>;
  Image4: ImageField;
  Link4: LinkField;
}

export interface FourColumnCtaProps extends ComponentProps {
  fields: Fields;
}

const { fields, params } = Astro.props as FourColumnCtaProps;
const { styles, RenderingIdentifier: id } = params;
---

<div
  class={`component component-spaced four-column-cta ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container">
    <div class="row">
      <FourColumn
        image={fields.Image1}
        title={fields.Title1}
        text={fields.Text1}
        link={fields.Link1}
        delay={0}
      />
      <FourColumn
        image={fields.Image2}
        title={fields.Title2}
        text={fields.Text2}
        link={fields.Link2}
        delay={500}
      />
      <FourColumn
        image={fields.Image3}
        title={fields.Title3}
        text={fields.Text3}
        link={fields.Link3}
        delay={1000}
      />
      <FourColumn
        image={fields.Image4}
        title={fields.Title4}
        text={fields.Text4}
        link={fields.Link4}
        delay={1500}
      />
    </div>
  </div>
</div>
