---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import { LinkField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { RichTextField } from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import { ComponentProps } from "@/lib/component-props";

interface Fields {
  Title: Field<string>;
  Text: RichTextField;
  Image: ImageField;
  Link: LinkField;
}

export interface HeroProps extends ComponentProps {
  fields: Fields;
}

const { params, fields } = Astro.props as HeroProps;
const { styles, RenderingIdentifier: id } = params;
const { page } = useSitecore();
const isPageEditing = page.mode.isEditing;
---

<div class={`component hero ${styles?.trimEnd()}`} id={id}>
  <picture>
    <AstroImage field={fields.Image} class="" />
  </picture>
  <div class="container content-container">
    <div class="top-layout">
      <div class="title">
        <Text field={fields.Title} />
      </div>
      <div class="subtitle">
        <RichText field={fields.Text} />
      </div>
    </div>
    <div class="bottom-layout">
      <div class="btn-array">
        {
          (isPageEditing || fields.Link?.value?.href) && (
            <Link field={fields.Link} class="button button-main mt-3" />
          )
        }
      </div>
    </div>
  </div>
</div>
