---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import { LinkField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { RichTextField } from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import { ComponentProps } from "@/lib/component-props";
import BannerContentBlock from "components/NestedComponents/BannerContentBlock.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";

interface Fields {
  Title: Field<string>;
  Text: RichTextField;
  BackgroundImage: ImageField;
  ForegroundImage: ImageField;
  Link: LinkField;
}

export interface ParallaxBannerProps extends ComponentProps {
  fields: Fields;
}

const props = Astro.props as ParallaxBannerProps;
const { fields, params } = props;
const { styles, RenderingIdentifier: id } = params;
const { page } = useSitecore();
const isPageEditing = page.mode.isEditing;

let foregroundImage = fields.ForegroundImage?.value?.src;
let backgroundImage = fields.BackgroundImage?.value?.src;
foregroundImage = foregroundImage?.replaceAll("http://renderingastro:3000", "");
backgroundImage = backgroundImage?.replaceAll("http://renderingastro:3000", "");
---

<div
  class={`component parallax-banner ${
    isPageEditing ? "edit-mode" : ""
  } ${styles?.trimEnd()}`}
  id={id}
>
  {
    isPageEditing ? (
      <div class="parallax-banner-inner">
        <AstroImage
          field={fields.BackgroundImage}
          class="parallax-banner-background"
        />
        <div class="parallax-banner-content">
          {<BannerContentBlock {...props} />}
        </div>
        <AstroImage
          field={fields.ForegroundImage}
          class="parallax-banner-foreground"
        />
      </div>
    ) : (
      <div class="parallax-banner-inner">
        <div
          style={`background-image: url(${backgroundImage});`}
          class="parallax-banner-background"
        />
        <div class="parallax-banner-content">
          {<BannerContentBlock {...props} />}
        </div>
        <div
          style={`background-image: url(${foregroundImage});`}
          class="parallax-banner-foreground"
        />
      </div>
    )
  }
</div>

<style>
  .parallax-banner-background {
    background-position: center center;
    background-size: cover;
    position: absolute;
    will-change: transform, opacity;
  }

  .parallax-banner-foreground {
    background-position: center center;
    background-size: cover;
    position: absolute;
    will-change: transform;
  }

  .parallax-banner-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
</style>

<script>
  import { useParallax, ParallaxElementOptions } from "lib/useParallax";

  document.addEventListener("DOMContentLoaded", function () {
    const backgroundImages = document.querySelectorAll(
      ".parallax-banner-inner"
    );

    const backgroundImageOptions: ParallaxElementOptions = {
      translateY: { from: 0, to: 50, units: "%" },
      scale: { from: 1.05, to: 1 },
      opacity: { from: 1, to: 0.3 },
    };

    const bannerContentOptions: ParallaxElementOptions = {
      translateY: { from: -30, to: 20, units: "%" },
      scale: { from: 1, to: 1.1 },
    };

    const foregroundImageOptions: ParallaxElementOptions = {
      translateY: { from: 0, to: 10, units: "%" },
      scale: { from: 1, to: 1.1 },
    };

    backgroundImages.forEach((el) => {
      useParallax(
        el as HTMLElement,
        backgroundImageOptions,
        ".parallax-banner-background"
      );
      useParallax(
        el as HTMLElement,
        bannerContentOptions,
        ".parallax-banner-content"
      );
      useParallax(
        el as HTMLElement,
        foregroundImageOptions,
        ".parallax-banner-foreground"
      );
    });
  });
</script>
