---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import { ComponentProps } from "@/lib/component-props";
import CountUp from "components/NonSitecore/CountUp.astro";
import DottedAccent from "components/NonSitecore/DottedAccent.astro";

interface Fields {
  Image1: ImageField;
  Image2: ImageField;
  Value1: Field<string>;
  Symbol1: Field<string>;
  Caption1: Field<string>;
  Value2: Field<string>;
  Symbol2: Field<string>;
  Caption2: Field<string>;
  Value3: Field<string>;
  Symbol3: Field<string>;
  Caption3: Field<string>;
}

export interface StatsCounterProps extends ComponentProps {
  fields: Fields;
}

const { fields, params } = Astro.props as StatsCounterProps;
const { styles, RenderingIdentifier: id } = params;
const { page } = useSitecore();
const isPageEditing = page.mode.isEditing;
---

<div
  class={`component stats-counter component-spaced ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container container-wide-fluid">
    <AstroImage field={fields.Image1} class="image-left" height={284} />
    <div class="container info-wrapper">
      <DottedAccent class="dotted-accent-top" />
      <div class="row gx-0">
        <div class="col-lg-4">
          <p class="display-6 fw-bold">
            <span
              >{
                isPageEditing ? (
                  <Text field={fields.Value1} />
                ) : (
                  <CountUp value={parseInt(fields.Value1.value)} />
                )
              }</span
            ><span>{(<Text field={fields.Symbol1} />)}</span>
          </p>
          <p class="fs-5 mb-0">
            <Text field={fields.Caption1} />
          </p>
        </div>
        <div class="col-lg-4">
          <p class="display-6 fw-bold">
            <span
              >{
                isPageEditing ? (
                  <Text field={fields.Value2} />
                ) : (
                  <CountUp value={parseInt(fields.Value2.value)} />
                )
              }</span
            ><span>{(<Text field={fields.Symbol2} />)}</span>
          </p>
          <p class="fs-5 mb-0">
            <Text field={fields.Caption2} />
          </p>
        </div>
        <div class="col-lg-4">
          <p class="display-6 fw-bold">
            <span
              >{
                isPageEditing ? (
                  <Text field={fields.Value3} />
                ) : (
                  <CountUp value={parseInt(fields.Value3.value)} />
                )
              }</span
            ><span>{(<Text field={fields.Symbol3} />)}</span>
          </p>
          <p class="fs-5 mb-0">
            <Text field={fields.Caption3} />
          </p>
        </div>
      </div>
      <DottedAccent class="dotted-accent-bottom" />
    </div>
    <AstroImage field={fields.Image2} class="image-right" height={284} />
  </div>
</div>
