---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { LinkField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import { ComponentProps } from "@/lib/component-props";
import TwoColumn from "components/NestedComponents/TwoColumn.astro";

interface Fields {
  Title1: Field<string>;
  Text1: Field<string>;
  Image1: ImageField;
  Link1: LinkField;
  Title2: Field<string>;
  Text2: Field<string>;
  Image2: ImageField;
  Link2: LinkField;
}

export interface TwoColumnCtaProps extends ComponentProps {
  fields: Fields;
}

const { params, fields, rendering } = Astro.props as TwoColumnCtaProps;
const { styles, RenderingIdentifier: id } = params;
---

<div class={`component two-column-cta pb-5 ${styles?.trimEnd()}`} id={id}>
  <div class="container">
    <div class="row">
      <TwoColumn
        image={fields.Image1}
        title={fields.Title1}
        text={fields.Text1}
        link={fields.Link1}
        placeholderName="two-col-placeholder-left"
        delay={0}
        rendering={rendering}
      />
      <TwoColumn
        image={fields.Image2}
        title={fields.Title2}
        text={fields.Text2}
        link={fields.Link2}
        placeholderName="two-col-placeholder-right"
        delay={500}
        rendering={rendering}
      />
    </div>
  </div>
</div>
