---
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import Placeholder from "@astro-sitecore-jss/astro-content-sdk/src/components/Placeholder.astro";
import ParallaxBackgroundImage from "components/NonSitecore/ParallaxBackgroundImage.astro";
import { ArticleDetailsProps } from "components/PageContent/ArticleDetails.astro";

const { params, fields, rendering } = Astro.props as ArticleDetailsProps;
const { styles, RenderingIdentifier: id } = params;
---

<div
  class={`component article-details page-background spaced-top col-12 ${styles?.trimEnd()}`}
  id={id}
>
  <ParallaxBackgroundImage backgroundImage={fields.BackgroundImage} />

  <div class="container">
    <Placeholder name="page-navigation" rendering={rendering} />
  </div>

  <div>
    <div class="background-content component-spaced container rounded-corners">
      <div class="p-3 p-sm-5">
        <div class="article-content">
          <div class="row row-gap-4 gx-5">
            <div class="col-12 col-lg-6">
              <AstroImage
                field={fields.Thumbnail}
                class="article-img img-fluid"
              />
            </div>
            <div class="col-12 col-lg-6">
              <div class="row">
                <Placeholder name="article-meta" rendering={rendering} />
              </div>
              <h1 class="article-title">
                <Text field={fields.Title} />
              </h1>
              <p class="article-excerpt">
                <Text field={fields.Excerpt} />
              </p>
            </div>
          </div>
          <div class="article-content-body mt-5">
            <RichText field={fields.Content} />
          </div>
        </div>
        <div class="row">
          <Placeholder name="background-page-content" rendering={rendering} />
        </div>
      </div>
    </div>
    <Placeholder name="page-content" rendering={rendering} />
  </div>
</div>
