---
import { ComponentProps } from "@/lib/component-props";

function formatBreadcrumb(text: string) {
  text = decodeURIComponent(text);
  return text;
}

interface ContextItem {
  url: { path: string };
  name: string;
  pageTitle: { value: string };
  displayName: string;
  title: { value: string };
  ancestors: ContextItem[];
}

interface BreadcrumbProps extends ComponentProps {
  fields: {
    data: {
      item: ContextItem;
      ancestors: ContextItem[];
    };
  };
}

function getBreadcrumbTitle(propItem: ContextItem) {
  let name = propItem.pageTitle?.value;
  if (!name) {
    name = propItem.name;
  }
  if (!name) {
    name = propItem.displayName;
  }
  if (!name) {
    name = propItem.title.value;
  }
  return formatBreadcrumb(name);
}

function getBreadcrumbUrl(propItem: ContextItem) {
  return propItem?.url?.path;
}

const { params, fields } = Astro.props as BreadcrumbProps;
const { styles } = params;

const hasData = fields?.data?.item !== null;

const breadcrumbs = [];

if (hasData) {
  const propItem = fields.data.item;
  const propItemAncestors = fields.data.item.ancestors;

  const pageItems = {
    title: getBreadcrumbTitle(propItem),
    url: getBreadcrumbUrl(propItem),
    className: "active",
  };

  breadcrumbs.push(pageItems);

  if (propItemAncestors) {
    propItemAncestors.map((parent) => {
      breadcrumbs.push({
        title: getBreadcrumbTitle(parent),
        url: getBreadcrumbUrl(parent),
        className: "inactive",
      });
    });
  }
}
---

{
  hasData ? (
    <nav class={`breadcrumb ${styles?.trimEnd()}`} aria-label="breadcrumbs">
      <ol class="list">
        {breadcrumbs.reverse().map((bc) => (
          <li class={bc.className}>
            <a title={bc.title} href={bc.url}>
              {bc.title}
            </a>
          </li>
        ))}
      </ol>
    </nav>
  ) : (
    <div />
  )
}
