---
import { ComponentProps } from "@/lib/component-props";
import Placeholder from "@astro-sitecore-jss/astro-content-sdk/src/components/Placeholder.astro";

const { rendering, params } = Astro.props as ComponentProps;
const { styles, RenderingIdentifier: id } = params;
---

<div class={`component eyebrow ${styles?.trimEnd()}`} id={id}>
  <div class={`container container-${params?.ContainerWidth?.toLowerCase()}-fluid`}>
    <div class="row">
      <div class="col col-placeholder">
        <Placeholder name="eyebrow-left" rendering={rendering} />
        <Placeholder name="eyebrow-right" rendering={rendering} />
      </div>
    </div>
  </div>
</div>