---
import { ComponentProps } from "@/lib/component-props";
import Text, { TextField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { LinkField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import LinkListItem from "./NestedComponents/LinkListItem.astro";

interface LinkListProps extends ComponentProps {
  fields: {
    /**
     * The Integrated graphQL query result. This illustrates the way to access the datasource children.
     */
    data: {
      datasource: {
        children: {
          results: Array<{
            field: {
              link: LinkField;
            };
          }>;
        };
        field: {
          title: TextField;
        };
      };
    };
  };
}

const { params, fields } = Astro.props as LinkListProps;
const datasource = fields?.data?.datasource;
const styles = `component link-list ${params.styles || ""}`.trim();
const id = params.RenderingIdentifier;
---

<>
  {
    datasource && (
      <div class={styles} id={id}>
        <div class="component-content">
          <Text tag="h3" field={datasource?.field?.title} />
          <ul>
            {datasource.children.results
              .filter((element) => element?.field?.link)
              .map((element, index) => (
                <LinkListItem
                  index={index}
                  total={datasource.children.results.length}
                  field={element.field.link}
                />
              ))}
          </ul>
        </div>
      </div>
    )
  }

  {
    !datasource && (
      <div class={styles} id={id}>
        <div class="component-content">
          <h3>Link List</h3>
        </div>
      </div>
    )
  }
</>
