---
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import { CtaBannerProps } from "components/PageContent/CtaBanner.astro";

import DottedAccent from "components/NonSitecore/DottedAccent.astro";
import IconAccent from "components/NonSitecore/IconAccent.astro";

const { params, fields } = Astro.props as CtaBannerProps;
const { styles, RenderingIdentifier: id } = params;
const { page } = useSitecore();
const isPageEditing = page.mode.isEditing;
---

<div
  class={`component cta-banner component-spaced ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container container-widest-fluid">
    <div class="container">
      <div class="row row-gap-4 main-content align-items-center">
        <div class="col-lg-6">
          <IconAccent image={fields.Icon} inverted />
          <div class="content-wrapper">
            <h6 class="eyebrow-accent">
              <Text field={fields.Eyebrow} />
            </h6>
            <h1 class="display-4 fw-bold mb-3">
              <Text field={fields.Title} />
            </h1>
            <div class="fs-5">
              <RichText field={fields.Text} class="text-content" />

              {
                (isPageEditing || fields?.Link?.value?.href) && (
                  <Link field={fields.Link} class="button button-main mt-3" />
                )
              }
            </div>
          </div>
        </div>
        <div class="col-md-10 mx-auto col-lg-6 mx-lg-0">
          <div class="image-wrapper">
            <DottedAccent class="dotted-accent-top" />
            <AstroImage
              field={fields.Image}
              class={`d-block mx-lg-auto img-fluid ${
                !isPageEditing ? "fade-section" : ""
              }`}
            />
            <DottedAccent class="dotted-accent-bottom" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
