---
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import { PromoProps } from "components/Promo.astro";

const { fields, params } = Astro.props as PromoProps;
const { styles, RenderingIdentifier: id } = params;

---
<>
  {
    fields && (
      <div class={`component promo ${styles}`} id={id}>
      <div class="component-content">
        <div class="field-promoicon">
          <AstroImage field={fields.PromoIcon} />
        </div>
        <div class="promo-text">
          <div class="field-promotext">
            <RichText field={fields.PromoText} />
          </div>
          <div class="field-promolink">
            <Link field={fields.PromoLink} />
          </div>
        </div>
      </div>
      </div>
    )
  }
  {
    !fields && (
      <div class={`component promo ${styles}`} id={id}>
      <div class="component-content">
        <span class="is-empty-hint">Promo</span>
        </div>
      </div>
    )
  }
</>