---
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import {
  ArticleListItemProps,
  ArticleListProps,
} from "components/PageContent/ArticleList.astro";

const { params, fields } = Astro.props as ArticleListProps;
const { styles, RenderingIdentifier: id } = params;

const getNewsItems = (items: ArticleListItemProps[], numOfItems: number) => {
  return items
    ?.filter((item) => item.name !== "Data" && item.name !== "Authors")
    .slice(0, numOfItems || undefined);
};

const newsItems = getNewsItems(fields?.items, parseInt(params?.NumberOfItems));
---

<div
  class={`component component-spaced article-list ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container">
    <div class="row row-gap-3">
      {
        newsItems?.map((item) => (
          <div class="col-lg-4">
            <a href={item.url} class="wrapper-link">
              <AstroImage field={item.fields.Thumbnail} />
              <h3 class="fs-4 mt-3">
                <Text field={item.fields.Title} />
              </h3>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</div>
