---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { LinkField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import { RichTextField } from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Link from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";
import RichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { ComponentProps } from "@/lib/component-props";

interface Fields {
  Title: Field<string>;
  Subtitle: RichTextField;
  FullName: Field<string>;
  IDNumber: Field<string>;
  Email: Field<string>;
  MobileNumber: Field<number>;
  Footnote: RichTextField;
  SubmitButton: LinkField;
}

export interface ApplicationFormProps extends ComponentProps {
  fields: Fields;
}

const { params, fields } = Astro.props as ApplicationFormProps;
const { styles, RenderingIdentifier: id } = params;
---

<div class={`component application-form ${styles?.trimEnd()}`} id={id}>
  <div class="application-form-inner">
    <div class="container">
      <div class="title">
        <Text field={fields.Title} />
      </div>
      <div class="subtitle">
        <RichText field={fields.Subtitle} />
      </div>
      <input
        class="input-field"
        value={fields.FullName?.value}
        placeholder="First and Last name"
      />
      <input
        class="input-field"
        value={fields.IDNumber?.value}
        placeholder="ID number"
      />
      <input
        class="input-field"
        value={fields.Email?.value}
        placeholder="Email"
      />
      <input
        class="input-field"
        value={fields.MobileNumber?.value}
        placeholder="Mobile number"
      />
      <div class="footnote">
        <RichText field={fields.Footnote} />
      </div>
      <Link
        field={fields.SubmitButton}
        class="button button-main submit-button"
      />
    </div>
  </div>
</div>
