---
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { ComponentProps } from "@/lib/component-props";

interface Fields {
  Title: Field<string>;
  EmailLabel: Field<string>;
  SubjectLabel: Field<string>;
  MessageLabel: Field<string>;
  ButtonLabel: Field<string>;
  BackgroundImage: ImageField;
}

export interface ContactFormProps extends ComponentProps {
  fields: Fields;
}

const { params, fields } = Astro.props as ContactFormProps;
const { styles, RenderingIdentifier: id } = params;
---

<div
  class={`component contact-form component-spaced ${styles?.trimEnd()}`}
  id={id}
>
  <div class="container container-widest-fluid">
    <AstroImage field={fields.BackgroundImage} class="img-fluid" />
    <div class="container">
      <div class="contact-form-inner">
        <form>
          <h2 class="mb-4">
            <Text field={fields.Title} />
          </h2>
          <input type="text" placeholder={fields.EmailLabel.value} />
          <input type="text" placeholder={fields.SubjectLabel.value} />
          <textarea placeholder={fields.MessageLabel.value}></textarea>
          <input
            type="submit"
            value={fields.ButtonLabel.value}
            class="button button-main mt-3"
          />
        </form>
      </div>
    </div>
  </div>
</div>
