---
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { QuoteProps } from "components/PageContent/Quote.astro";

const { params, fields } = Astro.props as QuoteProps;
const { styles, RenderingIdentifier: id } = params;
---

<div class={`component quote simple ${styles?.trimEnd()}`} id={id}>
  <div class="row gx-0">
    <div class="col-auto me-3">
      <AstroImage field={fields.Image} class="author-image" />
    </div>
    <div class="col">
      <blockquote class="mb-0">
        <Text field={fields.Quote} />
      </blockquote>
      <p class="author-name mb-0">
        <Text field={fields.AuthorName} />
      </p>
    </div>
  </div>
</div>
