---
import ProjectFilters from "components/NestedComponents/ProjectFilters.astro";
import ProjectGridItem from "components/NestedComponents/ProjectGridItem.astro";
import {
  ProjectListProps,
  ProjectListItemProps,
} from "components/PageContent/ProjectList.astro";

const getProjectItems = (items: ProjectListItemProps[], numOfItems: number) => {
  return items
    ?.filter((item) => item.name !== "Data" && item.name !== "Authors")
    .slice(0, numOfItems || undefined);
};

const applyCategoryFilter = (
  items: ProjectListItemProps[],
  selectedCategory: string | null
): ProjectListItemProps[] => {
  return selectedCategory
    ? items.filter((item) => item.fields.Category.value === selectedCategory)
    : items;
};

const { params, fields } = Astro.props as ProjectListProps;
const { styles, RenderingIdentifier: id } = params;

let selectedCategory = "";

const projectItems = getProjectItems(
  fields?.items,
  parseInt(params?.NumberOfItems)
);
const filteredItems = applyCategoryFilter(projectItems, selectedCategory);
---

<div class={`component project-list ${styles?.trimEnd()}`} id={id}>
  <div class="container container-wide">
    {
      !!params?.ShowFilters && (
        <ProjectFilters
          projectItems={projectItems}
          selectedCategory={selectedCategory}
        />
      )
    }
    <div class="hidden-container" style="display: none;"></div>
    <div class="project-list-grid">
      {filteredItems?.map((item) => <ProjectGridItem item={item} />)}
    </div>
  </div>
</div>

<script>
  const categoriesButtons = document.querySelectorAll(
    ".project-filters button"
  );
  const projectsRoot = document.querySelector(".project-list-grid");
  const hiddenProjectsRoot = document.querySelector(".hidden-container");

  const showAllProjects = () => {
    hiddenProjectsRoot
      ?.querySelectorAll(".project-grid-item")
      .forEach((project) => {
        projectsRoot?.append(project);
      });
  };
  const setSelectedCategory = (e: Element | null) => {
    if (!e) {
      return;
    }
    categoriesButtons.forEach((button) => {
      if (e != button) {
        button.classList.remove("active");
      }
    });
    e.classList.add("active");
    const selectedCategory = e.getAttribute("data-key");
    showAllProjects();
    if (selectedCategory) {
      const projects = projectsRoot?.querySelectorAll(".project-grid-item");
      projects?.forEach((project) => {
        const projectCategoryElement = project.querySelector(
          ".project-category"
        ) as HTMLElement;
        const projectCategory = projectCategoryElement?.innerText;
        if (selectedCategory !== projectCategory?.trim()) {
          hiddenProjectsRoot?.append(project);
        }
      });
    }
  };

  categoriesButtons.forEach((button) => {
    button.addEventListener("click", (e) =>
      setSelectedCategory(e.currentTarget as Element)
    );
  });
</script>
